1.Go to "Code"
2.Copy the Gist link
3.Open the link
4.View raw file
5.Copy all lines if code
5.Paste it to a IDEA
6.Then...............................
7.Then click "run" 🤦‍♂️🏃‍♂️, why are you still reading this...?
